<%= form_for(@image_mst) do |f| %>
  <% if @image_mst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_mst.errors.count, "error") %> prohibited this image_mst from being saved:</h2>

      <ul>
      <% @image_mst.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
